
body{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    background-image: url("../img/img.png");
    background-position: center;
}

.accueil-main-container{
    background-color: rgba(10, 33, 69, 0.78);
    min-height: 100%;
    padding-bottom: 40px;
}

.card-bg{
    background-color: rgba(13, 110, 253, 0.78);

}
.name-app{
    font-size: 6em;
}