body{

    background:linear-gradient(0deg, rgba(10,33,69,1), rgba(13,110,253,1));
    min-height: 100vh;
}


.card-decorator{
    background-color:#0a2145;
}

.etudiants-main-container{
    min-height: 100%;
    padding-bottom: 40px;
}

.w-inp-numb{
    width: 20%;
    min-width: 90px;
}