<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.2.0/jquery.min.js"></script>
    <link href="/css/Connexion.css" rel="stylesheet" type="text/css">

</head>
<body>

    <div class="d-flex flex-column col-lg-5 container-md align-items-center justify-content-center connexion-container card border-danger">
            <div class="w-75">
                <h1 class=" text-center d-flex align-items-center justify-content-center text-white name-app border-white border-bottom">
                    <img src="/img/gestion-de-projet.png" alt="" width="200" height="200" class="mx-2">
                    SM<span class="fw-bold text-danger">FAYW</span>
                </h1>
            </div>
            <form class="text-white w-75 mt-2" method="post" th:action="@{/login}">
                <div class="w-100 d-flex align-items-center justify-content-center">
                    <span class="alert alert-danger w-100 text-center" th:if="${param.error}">
                        nom d'utilisateur et mot de passe invalides
                    </span>
                    <span class="alert alert-danger w-100 text-center" th:if="${param.logout}">
                        vous avez été déconnecté
                    </span>
                </div>
                <div class="row g-2 align-items-center">
                    <label for="username" class="col-lg-3 fw-bold">Username</label>
                    <div class="col-lg-9">
                        <input id="username" class="form-control" type="text" name="username"/>
                    </div>
                </div>
                <div class="row g-2 mt-2 align-items-center">
                    <label for="password"  class="col-lg-3 fw-bold">Password</label>
                    <div class="col-lg-9">
                        <input id="password" class="form-control" type="password" name="password"/>
                    </div>
                </div>
                <div class="w-100 d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary mt-5">Connexion</button>
                </div>
            </form>
    </div>

</body>
</html>