<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplates/mainTemplate"
>
<head>
    <meta charset="UTF-8">
    <title>Etudiants</title>
    <link href="/css/Etudiants.css" rel="stylesheet" type="text/css">

</head>
<body>

    <div layout:fragment="MainContainer" class="etudiants-main-container main-container d-flex flex-column justify-content-center align-items-center">
       <div class="card w-100 card-decorator mt-3 container shadow">
           <div class="card-header text-center">
               <h1 class="text-white bg-black border-white border py-2">Liste des Étudiants</h1>
               <div class="d-flex justify-content-between align-items-center mt-3">
                   <form class="d-flex w-50" method="get" th:action="@{/User/Etudiants}">
                               <input placeholder="Rechercher Par Le Nom" class="form-control w-50 rounded-1" type="text" name="cle" th:value="${cle}"/>
                               <input type="hidden" name="taille" th:value="${taille}" >
                               <input type="hidden" name="page" th:value="${pageActuel}" >
                               <button type="submit" class="btn btn-primary rounded-1">
                                   <i class="bi bi-search"></i>
                               </button>
                   </form>
                   <form class="d-flex justify-content-end align-items-center w-50" id="submit-form-taille" method="get" th:action="@{/User/Etudiants}">
                       <h5 class="text-white d-flex mx-2 mb-0">Taille :</h5>
                       <input type="number" id="taille-input" class="form-control w-inp-numb  fw-bold border-white  border-1  rounded-1" th:value="${taille}" name="taille" min="1">
                       <input type="hidden" name="cle" th:value="${cle}" >
                       <input type="hidden" name="page" th:value="${pageActuel}" >
                   </form>
               </div>

           </div>
           <div class="container card-body">
               <table class="table table-bordered border-dark text-center">
                   <thead class="table-light">
                   <tr >
                       <th >NOM</th>
                       <th >PRENOM</th>
                       <th >EMAIL</th>
                       <th >DATE DE NAISSANCE</th>
                       <th >GENRE</th>
                       <th >EN REGLE</th>
                       <th sec:authorize="hasRole('ADMIN')"></th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr th:each="e:${etudiants}" class="table-primary">
                       <th th:text="${e.nom}"></th>
                       <th th:text="${e.prenom}"></th>
                       <th th:text="${e.email}"></th>
                       <th th:text="${e.dateNaissance}"></th>
                       <th th:text="${e.genre}"></th>
                       <th th:text="${e.enRegle}"></th>
                       <th sec:authorize="hasRole('ADMIN')">
                           <a class="btn btn-primary"  th:href="@{/Admin/EditEtudiant(id=${e.id},taille=${taille},cle=${cle},page=${pageActuel})}">
                               <i class="bi bi-pencil-square"></i>
                           </a>

                           <button class="btn btn-danger  supprimerBtn"  th:data-id="${e.getId()}"
                                   th:data-name="${e.getPrenom()+' '+e.getNom()}">
                               <i class="bi bi-trash"></i>
                           </button>
                       </th>
                   </tr>
                   </tbody>
               </table>
               <nav aria-label="Page navigation example">
                   <ul class="pagination  justify-content-center">
                       <li class="page-item">
                           <a class="page-link" href="#" aria-label="Previous" th:href="@{/User/Etudiants(taille=${taille},cle=${cle},page=1)}">
                               <span aria-hidden="true">&laquo;</span>
                           </a>
                       </li>
                       <li class="page-item">
                           <a class="page-link" th:href="@{/User/Etudiants(taille=${taille},cle=${cle},page=${pageActuel} <= ${1} ? 1:${pageActuel}-1  )}">Previous</a>
                       </li>
                       <li th:each="numero:${pagination}">
                           <a th:class="${numero==pageActuel? 'btn btn-primary mx-1': 'btn btn-outline-primary mx-1'}"
                              th:text="${numero}"
                              th:href="@{/User/Etudiants(taille=${taille},cle=${cle},page=${numero})}"></a>
                       </li>
                       <li class="page-item"><a class="page-link" th:href="@{/User/Etudiants(taille=${taille},cle=${cle},page=${pageActuel} >= ${totalPage}?${totalPage} : ${pageActuel}+1 )}" >Next</a></li>

                       <li class="page-item">
                           <a class="page-link" href="#" aria-label="Next" th:href="@{/User/Etudiants(taille=${taille},cle=${cle},page=${totalPage})}">
                               <span aria-hidden="true">&raquo;</span>
                           </a>
                       </li>
                   </ul>
               </nav>
            </div>
       </div>
    </div>
    <script layout:fragment="ScriptContainer">
         $(document).ready( function () {
             $("#taille-input").change(function (){
                 $("#submit-form-taille").submit();
             })

            function supprimer(id){
                console.log('id :'+id)
                $.ajax({
                    url :'/Admin/Etudiants/Supprimer/'+id,
                    method: "DELETE"
                }).done(()=>{
                    console.log("Bien supprimé");
                    window.location.reload();
                }).fail(e=>{
                    console.log("probleme, l'étudiant n'est pas supprimé !!");
                    console.error(e)
                });
            }
             $(".supprimerBtn").click( function(e){

                 const id = $(e.currentTarget).data('id')
                 const name = $(e.currentTarget).data('name')
                 if (confirm('Etes-vous sure de supprimer l\'étudiant : '+name+'  ?')){
                     supprimer(id);
                     console.log('supprimer');
                 } else {
                     console.log('cancel');
                 }
             });
         });
    </script>

</body>
</html>